<h1>Shoutr Dashboard</h1>

<%= form_for @shout do |f| %>
<%= f.hidden_field :content_type, value: "TextShout" %>
        <%= f.fields_for :content do |content_form| %>
                 <%= content_form.text_field :body, placeholder: "Shout Here!", required: true %>
                 <% end %>
        <%= f.submit "Shout"%>
<% end %>

<%= form_for @shout do |f| %>
<%= f.hidden_field :content_type, value: "PhotoShout" %>
        <%= f.fields_for :content do |content_form| %>
                 <%= content_form.file_field :image, required: true %>
                 <% end %>
        <%= f.submit "Shout"%>
<% end %>

<%= render @shouts %>



