<h1>Shoutr Dashboard</h1>

<%=shout_form_for(TextShout) do |f| %>
<%= f.text_field :body, placeholder: "Shout Here!", required: true %>
<%end%>

<%=shout_form_for(PhotoShout) do |f| %>
<%=f.file_field :image, required: true %>
<%end%>



<%= render @dashboard.timeline %>



